<!--<!DOCTYPE html>-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Manager login</title>
<!-- <link rel="stylesheet" href="loginstyle.css">-->
    <link rel="stylesheet" href="../static/css/loginstyle.css">

  </head>
  <body>
    <nav class="navbar">
      <div class="max-width">
          <div class="logo"><a href="home">Xim<span>ple.</span></a></div>
      </div>
  </nav>

<form class="box" action="/loginformanager" method="post">
  <h3>Manger Login</h3>
  <input type="text" name="usernameform" placeholder="Username">
  <input type="password" name="passwordform" placeholder="Password">
  
   
	 <input type="submit" name="" value="Login">
  <a class="button" href="login"><b>Back</b></a>

</form>


  </body>
</html>
