<!--<!DOCTYPE html>-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َEmployee login</title>
<!-- <link rel="stylesheet" href="loginstyle.css">-->
    <link rel="stylesheet" href="../static/css/loginstyle.css">

  </head>
  <body>
    <nav class="navbar">
      <div class="max-width">
          <div class="logo"><a href="home">Xim<span>ple.</span></a></div>
      </div>
  </nav>
<form class="box" action="/loginforemployee" method="post">
  <p2>Employee Login</p2>
  <input type="text" name="usernameform2" placeholder="Username">
  <input type="password" name="passwordform2" placeholder="Password">   
	<input type="submit" name="" value="Login">
  <br><br>
<a class="button1" href="/register">Register</a>
  <a class="button" href="login">Back</a>
</form>


  </body>
</html>
