
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STARTING PAGE</title>
    <link rel="stylesheet" href="../static/css/style.index.css">
  </head>
  <body><nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="home">Xim<span>ple.</span></a></div>
    </div>
</nav>
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
  <h1>Record As</h1>
  <a href="dect1">Upload Picture </a>&nbsp;
  <a href="dect2">Take Picture </a>
  
           
 
        </div>
    </div>
</section>



  </body>
</html>
